@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;800&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor01: #225A76;
    --cor02: #3FCEF6;
    --cor03: #318EAD;
    --cor04: #A7E7F6;
    --cor05: #EFF1F3;

    --fonte-grande:'Rubik Mono One', monospace;
    --fonte-media:'Sometype Mono', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-media);
    font-weight: normal;
}

header {
    margin-bottom: -05px;
}

header > img {
    max-width: 100%;
}

nav {
    text-align: center;
}

.navegacao {
    background-color: var(--cor01);
    padding: 5px 3px;
}

.navegacao > abbr > a {
    padding-bottom: 5px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    margin-left: 5px;
    text-decoration: none;
    color: var(--cor05);
    transition: 0.5s;
}

.navegacao > abbr > a:hover {
    background-color:var(--cor03);
    border-radius: 2px;
}

abbr {
    text-decoration: none;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.267);
}

.banners {
    background-color: var(--cor01);
    margin-bottom: 1rem;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.267);
}

.banners > img {
    max-width: 100%;
}

.counteiner-produtos {
    background-color: #225A76;
    width: 100%;
    height: 9rem;
    display: flex;
    overflow-x: auto;
}

.produtos {
    max-width: 20rem;
    max-height: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
}